/* * {
  box-sizing: border-box;
  border: "10px solid red";
}

.popup {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

textarea {
  width: 100%;
  height: 300px;
  padding: 16px;
  user-select: none;
} */
